@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #e2e8f0;
  --card: #ffffff;
  --background: #ffffff;
  --foreground: #0f172a;
  --input-background: #ffffff;
  --muted-foreground: #64748b;
  --neon-cyan: #06b6d4;
  --neon-purple: #a855f7;
  --neon-emerald: #10b981;
  --yellow: rgb(235, 244, 60);
  --cardbg: rgb(240, 240, 235);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --card: #1f2937;
  --border: #374151;
  --input-background: #111827;
  --muted-foreground: #fffc4f;
  --neon-cyan: #22d3ee;
  --neon-purple: #c084fc;
  --neon-emerald: #34d399;
  --yellow: rgb(175, 177, 55);
  --cardbg: rgb(31, 31, 62);
}

.bigDiv {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
