*{
    box-sizing: border-box;
}

.bigDiv {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
}

.trendingIcon{
    margin-right: 10px;
    color: var(--neon-emerald);
    margin-left: 20px;
}

.trending-title{
    text-align: center;
}

.trending-subtitle{
    text-align: center;
}